button {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 2px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}

button:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

button:disabled {
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 504px) {
  button {
    height: 28px;
  }
}

.button-link,
.no-button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: var(--text-color);
  font-family: monospace;
  font-size: 11px;
}

.button-link:hover {
  background: none;
  color: #006da3;
}

.no-button {
  text-decoration: none;
}

.no-button:hover {
  background: none;
  color: initial;
}

button.btn-secondary {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border: 1px solid #d02718;
  text-shadow: 0px 1px 0px #810e05;
}

button.btn-secondary:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
