@import url('../task/tasks.css');
@import url('../task/task.css');

.card-group-header {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 1.4rem;
  border-bottom: 1px solid black;
}

.card-group-header-title {
  font-size: 1.4rem;
}

.card-group-header-subtitle {
  font-size: 1rem;
  margin-left: 10px;
}

.card-group-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.activity-card-header {
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
  margin: 0 0 5px 0;
}

.card-item-container {
  page-break-inside: avoid;
  page-break-before: auto;
}

@media print {
  .card-list {
    /* override "flex" since it does not play nice with print report */
    display: block;
  }

  .card-item-container {
    width: 100%;
  }

  task input[type="checkbox"] {
    appearance: none;
  }

  task input[type="checkbox"]::before {
    content: "-";
  }

  .task-eta, .task-tags, .task-record-name, .activity-card-options-group {
    display: none;
  }
}

.activity-health-undetermined {
  background-color: black;
}

.activity-health-green {
  background-color: #87e187;
}

.activity-health-yellow {
  background-color: yellow;
}

.activity-health-orange {
  background-color: #ffbc00;
}

.activity-health-red {
  background-color: red;
}

.status-block {
  margin-right: 5px;
}

summary {
  display: block;
}

summary:hover {
  cursor: pointer;
}

.timeline-list h3 {
  font-weight: bold;
}

.timeline-list .timeline-list-activity {
  border: 1px solid #818181;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 10px;
}

.timeline-list .timeline-list-activity-header {
  font-weight: bold;
  margin: 5px 0px 10px 20px;
}

.timeline-list .timeline-list-item {
  margin-left: 40px;
}

@media (min-width: 504px) and (max-width: 1024px) {
  .task-record-use-columns {
    columns: 3;
    max-width: 100% !important;
  }
}
