@import url('../task/tasks.css');
@import url('../task/task.css');

.card-group-header {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 1.4rem;
  border-bottom: 1px solid black;
}

.card-group-header-title {
  font-size: 1.4rem;
}

.card-group-header-subtitle {
  font-size: 1rem;
  margin-left: 10px;
}

.card-group-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.activity-card-header {
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
  margin: 0 0 5px 0;
}

@media print {
  .card-item-container {
    width: 100%;
    page-break-inside: avoid;
    page-break-before: auto;
  }
}

.activity-health-undetermined {
  background-color: black;
}

.activity-health-green {
  background-color: #87e187;
}

.activity-health-yellow {
  background-color: yellow;
}

.activity-health-orange {
  background-color: #ffbc00;
}

.activity-health-red {
  background-color: red;
}

.status-block {
  margin-right: 5px;
}
