<div>
  <h1 class="page-title text-align-center">
    {{ viewData.TEXT.ACTIVITIES_REPORT_TITLE }} {{ REPORT_DATE | date:
    "yyyy-MM-dd" }}
  </h1>

  <span class="field hide-on-print">
    <label for="fSelectedProject" class="label-left">Project</label>
    <select
      name="fSelectedProject"
      id="fSelectedProject"
      class="field-select"
      [(ngModel)]="selectedProject"
      (ngModelChange)="onChangeProject($event)"
    >
      @for (opt of projectList(); track opt) {
      <option value="{{ opt.id }}">{{ opt.name }} ({{ opt.count }})</option>
      }
    </select>
  </span>

  <span class="field hide-on-print">
    <label for="fSelectedLayout" class="label-left">Layout</label>
    <select
      name="fSelectedLayout"
      id="fSelectedLayout"
      class="field-select"
      [(ngModel)]="selectedLayout"
      (ngModelChange)="onChangeLayout($event)"
    >
      @for (opt of LAYOUT_LIST; track opt) {
      <option value="{{ opt.id }}">{{ opt.name }}</option>
      }
    </select>
  </span>

  <form #itemForm="ngForm" (ngSubmit)="newItem(itemForm)">
    <button type="button" (click)="toggleShowItemForm()" class="hide-on-print">
      {{ showItemForm() ? "Hide Form" : "New Item" }}
    </button>

    @if (showItemForm()) {
    <div id="newItemFormSection">
      @if (model.id) {
      <span class="field">
        <label for="id" class="label-left">Id</label>
        <span type="text" name="id" id="id" class="field-input-small"
          >{{ model.id }}</span
        >
      </span>
      }
      <span class="field">
        <label for="fName" class="label-left">Name</label>
        <input
          type="text"
          name="fName"
          id="fName"
          class="field-input field-input-large"
          ngModel
        />
      </span>
      <span class="field">
        <label for="fTags" class="label-left">Tags</label>
        <input
          type="text"
          name="fTags"
          id="fTags"
          class="field-input field-input-medium"
          ngModel
        />
      </span>
      <span class="field">
        <label for="fTasksTag" class="label-left">Tasks Tag</label>
        <input
          type="text"
          name="fTasksTag"
          id="fTasksTag"
          class="field-input field-input-medium"
          ngModel
        />
        <div>
          @for (f of viewData.nextFolioList; track f) {
          <button (click)="setFolioFromSuggestion(f, itemForm)">{{f}}</button>
          }
        </div>
      </span>
      <button type="submit">{{ model.id === null ? "Save" : "Update" }}</button>
    </div>
    }
  </form>

  @if (model.id) {
  <div class="activity-details">
    <div class="activity-actions">
      <button (click)="changeStatus(model.id, 'CLOSED')">Close Activity</button>
    </div>
    <span> Details </span>
    @for (k of model.activity.additional?.keyvalItems; track k) {
    <div>{{ k.key_name }} / {{ k.key_value }}</div>
    }
    <hr />
    <span
      ><strong>
        Timeline (x{{model.activity.additional?.timeline?.length}})
      </strong></span
    >
    @for (t of model.activity.additional?.timeline; track t) {
    <div>
      - {{ t.tim_date | date: "yyyy-MM-dd HH:mm" }} |
      <span [innerHtml]="t.tim_description"></span>
    </div>
    }
    <timeline
      [recordId]="TIMELINE_KEY + model.id"
      (onNewItem)="handleNewTimeline($event)"
    ></timeline>
    <span
      ><strong>
        Notes (x{{model.activity.additional?.notes?.length}})
      </strong></span
    >
    @for (t of model.activity.additional?.notes; track t) {
    <div>
      - {{ t.tim_date | date: "yyyy-MM-dd HH:mm" }} |
      <span [innerHtml]="t.tim_description"></span>
    </div>
    }
    <span
      ><strong>
        Notes hidden (x{{model.activity.additional?.notesHidden?.length}})
      </strong></span
    >
    @for (t of model.activity.additional?.notesHidden; track t) {
    <div>
      - {{ t.tim_date | date: "yyyy-MM-dd HH:mm" }} |
      <span [innerHtml]="t.tim_description"></span>
    </div>
    }
    <div>
      <span> Tasks </span>
      <div>
        @for (item of model.activity.additional?.tasks; track item) {
        <div>
          <task
            [task]="item"
            [handlers]="handlers"
            [options]="{
            optShowRecordNameInline: true,
            optShowBadgeIfTaskIsInBacklog: true
          }"
          ></task>
        </div>
        }
      </div>
    </div>
  </div>
  }

  <div>
    <div>Leyenda de colores</div>
    @for (h of viewData.healthGroup; track h) {
    <div>
      <span
        [ngClass]="[
        'status-block',
        h.className
      ]"
      ></span>
      <span class="activity-name"
        >{{ h.label }} ({{ h.count }} actividades)</span
      >
    </div>
    }
  </div>

  <div class="card-group-list width-100-pct">
    @for (group of activityGroups(); track group) {
    <div class="card-group-item">
      <details [attr.open]="group.key !== 6 ? 'true' : null">
        <summary>
          <div class="card-group-header">
            <span class="card-group-header-title"
              >{{ group.act_txt_status }}</span
            >
            <span class="card-group-header-subtitle"
              >{{ group.items.length }} items</span
            >
          </div>
        </summary>
        <div class="card-list">
          @for (item of group.items; track item) {
          <div class="card-item-container">
            <div class="activity-card-header">
              <span class="status-block {{item?.additional?.health}}"></span>
              <span><strong>{{ item.act_tasks_tag }}</strong>&nbsp;</span>
              <span class="activity-name">{{ item.act_name }}</span>
              <div class="activity-card-options-group">
                <span class="activity-status-text"
                  >[{{ group.act_txt_status }}]</span
                >
                <span
                  class="activity-options-toggle"
                  (click)="item.showOptions = !item.showOptions"
                >
                  {{ item.showOptions ? "-" : "+" }}
                </span>
                @if (item.isNew) {
                <span class="activity-badge-new">new</span>
                } @if (item.isEdited) {
                <span class="activity-badge-edited">edited</span>
                } @if (item.showOptions) {
                <span>
                  <br />
                  <button (click)="setModelDetails(item.act_id, itemForm)">
                    details
                  </button>
                  @if (item.act_ctg_status === 1 || item.act_ctg_status === 3) {
                  <button (click)="changeStatus(item.act_id, 'BACKLOG')">
                    To Backlog
                  </button>
                  } @if (item.act_ctg_status === 2 || item.act_ctg_status === 4)
                  {
                  <button (click)="changeStatus(item.act_id, 'OPEN')">
                    To Open
                  </button>
                  } @if (item.act_ctg_status === 3 || item.act_ctg_status === 5)
                  {
                  <button (click)="changeStatus(item.act_id, 'IN PROGRESS')">
                    To In Progress
                  </button>
                  } @if (item.act_ctg_status === 4) {
                  <button (click)="changeStatus(item.act_id, 'VERIFICATION')">
                    To Verification
                  </button>
                  } @if (item.act_ctg_status === 5) {
                  <button (click)="changeStatus(item.act_id, 'CLOSED')">
                    To Closed
                  </button>
                  } @if (item.act_ctg_status !== 6) {
                  <button (click)="addNewTask(item)">Add new task</button>
                  }
                </span>
                }
              </div>
            </div>
            <div class="activity-card-body">
              @if (item.additional.lastTimeline && showTimeline()) {
              <div>
                <span
                  ><strong>
                    Último Estatus (x{{item.additional.timeline.length}})
                  </strong></span
                >
                <div>
                  - {{ item.additional.lastTimeline.tim_date | date:
                  "yyyy-MM-dd" }} |
                  <span
                    [innerHtml]="item.additional.lastTimeline.tim_description"
                  ></span>
                </div>
                @if (item['additional']?.tasks?.length > 0) {
                <hr />
                }
              </div>
              } @if (item['additional']?.uniqueTasks?.length > 0 &&
              showActivities()) {
              <div>
                <span><strong> Actividades </strong></span>
                @for (t of item['additional'].uniqueTasks; track t) {
                <div>
                  <task
                    [task]="t.task"
                    [handlers]="handlers"
                    [options]="{
                    optShowRecordNameInline: true,
                    optShowBadgeIfTaskIsInBacklog: true,
                    optShowTimeTrackingHistory: false
                  }"
                  ></task>
                </div>
                }
              </div>
              }
            </div>
          </div>
          }
        </div>
      </details>
    </div>
    }
  </div>

  <div class="timeline-list">
    <h2>Línea de tiempo</h2>

    <div>Secuencia de actividades en orden cronológico</div>

    @for (d of timelineGroup().days; track d) {
    <div>
      <h3>{{ d.date | date: "yyyy-MM-dd" }} {{ d.dayName }}</h3>
      @for (a of d.activityList; track a) {
      <div class="timeline-list-activity">
        <div class="timeline-list-activity-header">
          + {{ a.act_tasks_tag }} - {{a.act_name}}
        </div>
        @for (t of a.additional.timeline; track t) {
        <div>
          <div class="timeline-list-item">
            - {{ t.tim_date | date: "yyyy-MM-dd HH:mm" }} |
            <span [innerHtml]="t.tim_description"></span>
          </div>
        </div>
        }
      </div>
      }
    </div>
    }
  </div>
</div>
