<div>
  <strong>Activity</strong>

  <form #itemForm="ngForm" (ngSubmit)="newItem(itemForm)">
    <button type="button" (click)="toggleShowItemForm()">
      {{ viewData.showItemForm ? "Hide Form" : "New Item" }}
    </button>

    <div id="newItemFormSection" *ngIf="viewData.showItemForm">
      <span class="field" *ngIf="model.id">
        <label for="id" class="label-left">Id</label>
        <span type="text" name="id" id="id" class="field-input-small"
          >{{ model.id }}</span
        >
      </span>

      <span class="field">
        <label for="fName" class="label-left">Name</label>
        <input
          type="text"
          name="fName"
          id="fName"
          class="field-input field-input-large"
          ngModel
        />
      </span>

      <span class="field">
        <label for="fTags" class="label-left">Tags</label>
        <input
          type="text"
          name="fTags"
          id="fTags"
          class="field-input field-input-medium"
          ngModel
        />
      </span>

      <span class="field">
        <label for="fTasksTag" class="label-left">Tasks Tag</label>
        <input
          type="text"
          name="fTasksTag"
          id="fTasksTag"
          class="field-input field-input-medium"
          ngModel
        />
      </span>

      <button type="submit">{{ model.id === null ? "Save" : "Update" }}</button>
    </div>
  </form>

  <div class="activity-details" *ngIf="model.id">
    <div class="activity-actions">
      <button (click)="changeStatus(model.id, 'CLOSED')">Close Activity</button>
    </div>
    <span> Details </span>

    <div *ngFor="let k of model.keyval">
      {{ k.key_name }} / {{ k.key_value }}
    </div>

    <hr />

    <span> Timeline </span>

    <div *ngFor="let t of viewData.timelineList">
      - {{ t.tim_date | date: "yyyy-MM-dd HH:mm" }} | {{ t.tim_description }}
    </div>

    <timeline
      [recordId]="viewData.timelineKey + model.id"
      (onNewItem)="handleNewTimeline($event)"
    ></timeline>

    <span> Tasks </span>

    <div>
      <div *ngFor="let item of model.tasks">
        <task
          [task]="item"
          [handlers]="handlers"
          [options]="{
          optShowRecordNameInline: true,
          optShowBadgeIfTaskIsInBacklog: true
        }"
        ></task>
      </div>
    </div>
  </div>

  <div class="card-group-list width-100-pct">
    <div *ngFor="let group of viewData.activityGroups" class="card-group-item">
      <div class="card-group-header">
        <span class="card-group-header-title">{{ group.act_txt_status }}</span>
        <span class="card-group-header-subtitle"
          >{{ group.items.length }} items</span
        >
      </div>

      <div class="card-list">
        <div *ngFor="let item of group.items" class="card-item-container">
          <div class="activity-card-header">
            <span><strong>{{ item.act_tasks_tag }}</strong>&nbsp;</span>
            <span class="activity-name">{{ item.act_name }}</span>
            <br />
            <span>[{{ group.act_txt_status }}]</span>

            <span (click)="item.showOptions = !item.showOptions">
              {{ item.showOptions ? "-" : "+" }}
            </span>

            <span class="activity-badge-new" *ngIf="item.isNew">new</span>
            <span class="activity-badge-edited" *ngIf="item.isEdited"
              >edited</span
            >

            <span *ngIf="item.showOptions">
              <br />
              <button (click)="setModelDetails(item.act_id, itemForm)">
                details
              </button>
              <button
                *ngIf="item.act_ctg_status === 1"
                (click)="changeStatus(item.act_id, 'BACKLOG')"
              >
                To Backlog
              </button>
              <button
                *ngIf="item.act_ctg_status === 2"
                (click)="changeStatus(item.act_id, 'OPEN')"
              >
                To Open
              </button>
              <button
                *ngIf="item.act_ctg_status === 3"
                (click)="changeStatus(item.act_id, 'IN PROGRESS')"
              >
                To In Progress
              </button>
              <button
                *ngIf="item.act_ctg_status === 4"
                (click)="changeStatus(item.act_id, 'VERIFICATION')"
              >
                To Verification
              </button>
              <button
                *ngIf="item.act_ctg_status === 5"
                (click)="changeStatus(item.act_id, 'CLOSED')"
              >
                To Closed
              </button>
              <button
                *ngIf="item.act_ctg_status !== 6"
                (click)="addNewTask(item)"
              >
                Add new task
              </button>
            </span>
          </div>

          <div *ngFor="let t of item['additional'].tasks">
            <task
              [task]="t"
              [handlers]="handlers"
              [options]="{
              optShowRecordNameInline: true,
              optShowBadgeIfTaskIsInBacklog: true,
              optShowTimeTrackingHistory: false
            }"
            ></task>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
