<div>
  <strong>Activity</strong>

  <form #itemForm="ngForm" (ngSubmit)="newItem(itemForm)">
    <button type="button" (click)="toggleShowItemForm()">
      {{ viewData.showItemForm ? "Hide Form" : "New Item" }}
    </button>

    <div id="newItemFormSection" *ngIf="viewData.showItemForm">
      <span class="field" *ngIf="model.id">
        <label for="id" class="label-left">Id</label>
        <span type="text" name="id" id="id" class="field-input-small"
          >{{ model.id }}</span
        >
      </span>

      <span class="field">
        <label for="fName" class="label-left">Name</label>
        <input
          type="text"
          name="fName"
          id="fName"
          class="field-input field-input-large"
          ngModel
        />
      </span>

      <span class="field">
        <label for="fTags" class="label-left">Tags</label>
        <input
          type="text"
          name="fTags"
          id="fTags"
          class="field-input field-input-medium"
          ngModel
        />
      </span>

      <span class="field">
        <label for="fTasksTag" class="label-left">Tasks Tag</label>
        <input
          type="text"
          name="fTasksTag"
          id="fTasksTag"
          class="field-input field-input-medium"
          ngModel
        />
      </span>

      <button type="submit">{{ model.id === null ? "Save" : "Update" }}</button>
    </div>
  </form>

  <div class="activity-details" *ngIf="model.id">
    <div class="activity-actions">
      <button (click)="changeStatus(model.id, 'CLOSED')">Close Activity</button>
    </div>
    <span> Details </span>

    <div *ngFor="let k of model.keyval">
      {{ k.key_name }} / {{ k.key_value }}
    </div>

    <hr />

    <span> Timeline </span>

    <div *ngFor="let t of viewData.timelineList">
      - {{ t.tim_date | date: "yyyy-MM-dd HH:mm" }} | {{ t.tim_description }}
    </div>

    <timeline
      [recordId]="viewData.timelineKey + model.id"
      (onNewItem)="handleNewTimeline($event)"
    ></timeline>

    <span> Tasks </span>

    <div>
      <div *ngFor="let item of model.tasks">
        <task
          [task]="item"
          [handlers]="handlers"
          [options]="{
          optShowRecordNameInline: true,
          optShowBadgeIfTaskIsInBacklog: true
        }"
        ></task>
      </div>
    </div>
  </div>

  <div class="card-list width-100-pct">
    <div *ngFor="let item of viewData.activityList" class="card-item-container">
      <div class="activity-card-header">
        <span><strong>{{ item.act_tasks_tag }}</strong>&nbsp;</span>
        <span class="activity-name">{{ item.act_name }}</span>
        <br />
        <span>Status: {{ item.act_ctg_status }}</span>

        <span (click)="item.showOptions = !item.showOptions">
          {{ item.showOptions ? "-" : "+" }}
        </span>

        <span class="activity-badge-new" *ngIf="item.isNew">new</span>
        <span class="activity-badge-edited" *ngIf="item.isEdited">edited</span>

        <span *ngIf="item.showOptions">
          <br />
          <button (click)="setModelDetails(item.act_id, itemForm)">
            details
          </button>
        </span>
      </div>

      <div *ngFor="let t of item['additional'].tasks">
        <task
          [task]="t"
          [handlers]="handlers"
          [options]="{
          optShowRecordNameInline: true,
          optShowBadgeIfTaskIsInBacklog: true,
          optShowTimeTrackingHistory: false
        }"
        ></task>
      </div>
    </div>
  </div>
</div>
