.login-form {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border: 1px dotted black;
  padding: 20px;
  margin: 0 auto;
  width: 300px;
}

h2 {
  text-align: center;
}

.form-item,
label {
  padding: 5px;
}

button,
a {
  margin: 5px;
}
