.menu-container {
  width: 100%;
}

.menu-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-items li {
  border-bottom: 1px solid #888;
}

.menu-items li:hover,
.menu-items li:focus-within {
  background-color: white;
}

.menu-items li a,
.menu-items li span {
  padding: 5px;
  display: inline-block;
  width: 97%;
  color: black;
}

.menu-items {
  color: black;
}

.menu-header ul li a {
  text-decoration: none;
}

.menu-header {
  display: flex;
}

.menu-icon {
  cursor: pointer;
}

.menu-section {
  display: block;
  position: absolute;
  top: 19px;
  left: 0;
  width: 100%;
  background-color: #aaa;
}

.menu-area * {
  margin: 0 5px;
}

.menu-overlay {
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 505px) {
  .menu-section {
    width: 30%;
  }
}
