<div class="notification-area">
  <div class="notification-item" *ngFor="let item of notificationList">
    <div class="notification-head" *ngIf="item.showHeader">
      <span>{{item.title}}</span>
      <time-format
        class="notification-date"
        [value]="item.date"
        format="[HH]:[mm]"
      ></time-format>
    </div>
    <img
      src="/assets/icons/close.svg"
      class="close-button-img"
      (click)="onClose(item)"
    />
    <div class="notification-body">
      <span> {{ item.message }} </span>
      <span *ngIf="item.count > 1"> (x{{ item.count }}) </span>
    </div>
    <div class="notification-footer">
      <button
        class="notification-close-button"
        (click)="item.showHeader = !item.showHeader"
        *ngIf="!item.minimalUI"
      >
        {{item.showHeader ? 'hide details' : 'details'}}
      </button>
    </div>
  </div>
</div>
