<div class="notification-area">
  @for (item of notificationList; track item) {
  <div class="notification-item">
    @if (item.showHeader) {
    <div class="notification-head">
      <span>{{item.title}}</span>
      <time-format
        class="notification-date"
        [value]="item.date"
        format="[HH]:[mm]"
      ></time-format>
    </div>
    }
    <img
      src="/assets/icons/close.svg"
      class="close-button-img"
      (click)="onClose(item)"
    />
    <div class="notification-body">
      <span> {{ item.message }} </span>
      @if (item.count > 1) {
      <span> (x{{ item.count }}) </span>
      }
    </div>
    <div class="notification-footer">
      @if (!item.minimalUI) {
      <button
        class="notification-close-button"
        (click)="item.showHeader = !item.showHeader"
      >
        {{item.showHeader ? 'hide details' : 'details'}}
      </button>
      }
    </div>
  </div>
  }
</div>
