@media screen, print {
  thead tr,
  tfoot tr {
    background-color: #d0e4f5;
  }

  thead tr,
  tbody tr,
  tfoot tr {
    border-top: 1px solid black;
  }

  thead tr th,
  tfoot tr td {
    font-weight: bold;
  }

  table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

@media print {
  body {
    font-size: 5pt;
  }

  .padding-all-3 {
    padding: 0px 3px;
  }

  .page-title {
    margin: 0;
    display: block;
  }
}
