@import "./CarteraReportsCommon.css";

@media screen {
  .page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen, print {
  * {
    font-family: sans-serif;
  }

  .movements-report-row:nth-child(even) {
    background-color: #e0e0e0;
  }

  .movements-report-folio {
    white-space: nowrap;
  }
}
