@import "./CarteraReportsCommon.css";

@media screen, print {
  * {
    font-family: sans-serif;
  }

  .provision-added-row {
    background-color: #f5d498;
  }

  .provision-payed-row {
    background-color: #b7e4b2;
  }

  .provision-legend-box {
    width: 50px;
    height: 12px;
    display: inline-block;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
  }

  .pending-provision-top-block-30 {
    margin-top: 30px;
  }

  .pending-provision-timeline-list {
    border: 1px solid black;
    padding: 10px;
  }
}
