@media screen {
  .page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen, print {
  * {
    font-family: sans-serif;
  }

  table {
    border-collapse: collapse;
  }

  .results-header-row,
  .results-total-row {
    font-weight: bold;
  }

  .results-header-row:first-child {
    border-bottom: 1px solid black;
  }

  .results-total-row:last-child {
    border-top: 1px solid black;
  }

  .results-summary {
    margin-top: 50px;
  }

  .results-top-block,
  .results-movements {
    margin-top: 20px;
  }

  .results-top-block-50 {
    margin-top: 20px;
  }

  .results-sign-list table {
    width: 300px;
  }

  .results-sign-list table tr {
    border-top: 1px solid black;
    text-align: center;
  }

  .results-sign-list table tr td {
    padding-top: 5px;
    padding-bottom: 100px;
  }

  .results-summary {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 504px) {
  .results-summary table {
    width: 50%;
  }
}
