<div
  id="{{ task.tsk_id }}"
  [ngClass]="{
    'task-item-in-process': task.tsk_ctg_in_process === 2
  }"
>
  <input
    type="checkbox"
    [checked]="task.tsk_ctg_status === 3"
    (click)="handlers.onTaskMarkAsDone(task, $event)"
  />
  <!-- #region Time tracking history -->
  @if (task.tsk_total_time_spent !== 0 && options.optShowTimeTrackingHistory) {
  <span
    [ngClass]="{
      'task-open-with-tt':
        task.tsk_ctg_status === this.taskStatus.OPEN &&
        task.tsk_time_history.length > 0
    }"
    >[{{ task.tsk_time_history.length }}/<time-format
      class="notification-date"
      [value]="task.tsk_total_time_spent"
      format="[HH]:[mm]:[ss]"
    ></time-format
    >]
    <!-- #region Task with time tracking history and not in progress -->
    @if (task.tsk_ctg_in_process !== 2 && task.tsk_time_history.length) {
    <span>
      [<span
        class="tt-start"
        contenteditable="true"
        spellcheck="false"
        (keyup)="handlers.onTimeTrackingQuickEdit(task, $event, 'start')"
        >{{ task.tsk_time_history[task.tsk_time_history.length - 1] &&
        task.tsk_time_history[task.tsk_time_history.length - 1] .tsh_date_start
        | date: "HH:mm:ss" }}</span
      >
      -
      <span
        class="tt-end"
        contenteditable="true"
        spellcheck="false"
        (keyup)="handlers.onTimeTrackingQuickEdit(task, $event, 'end')"
        >{{ task.tsk_time_history[task.tsk_time_history.length - 1] &&
        task.tsk_time_history[task.tsk_time_history.length - 1] .tsh_date_end |
        date: "HH:mm:ss" }}</span
      >]
    </span>
    }
    <!-- #endregion -->
    <!-- #region Task with time tracking history and in progress -->
    @if (task.tsk_ctg_in_process === 2 && task.tsk_time_history.length) {
    <span>
      [<span
        class="tt-start"
        contenteditable="true"
        spellcheck="false"
        (keyup)="handlers.onTimeTrackingQuickEdit(task, $event, 'start')"
        >{{ task.tsk_time_history[task.tsk_time_history.length - 1] &&
        task.tsk_time_history[task.tsk_time_history.length - 1] .tsh_date_start
        | date: "HH:mm:ss" }}</span
      >
      <!-- #region Toggle timer mode -->
      <span
        (click)="handlers.onToggleTimeMode()"
        class="clickable"
        title="click to toggle timer mode"
      >
        {{ timers[t.tsk_id] ? "[" + timers[t.tsk_id].timerString + "]" : "" }}
      </span>
      <!-- #endregion -->
    </span>
    }
    <!-- #endregion -->
  </span>
  } @if (task.tsk_date_done && options.optShowTimeTrackingHistory) {
  <span
    >({{ TEXT.FINISHED_AT }}:
    <span contenteditable="true" spellcheck="false"
      >{{ task.tsk_date_done | date: format }}</span
    >)&nbsp;</span
  >
  } @if (task.tsk_date_done && !options.optShowTimeTrackingHistory) {
  <span
    >({{ TEXT.FINISHED_AT }}:
    <span contenteditable="true" spellcheck="false"
      >{{ task.tsk_date_done | date: 'yyyy-MM-dd' }}</span
    >)&nbsp;</span
  >
  }
  <!-- #endregion -->
  <!-- #region Qualifiers styling -->
  @if (task.tsk_qualifiers.indexOf('star') !== -1) {
  <span class="task-qualifier-icon">&#9733;</span>
  } @if (task.tsk_qualifiers.indexOf('urgent') !== -1) {
  <span class="task-qualifier-icon task-qualifier-urgent">&#33;</span>
  } @if (task.tsk_qualifiers.indexOf('people') !== -1) {
  <span class="task-qualifier-icon">
    <img
      src="/assets/icons/people.svg"
      alt="Requires reaching out people"
      title="Requires reaching out people"
    />
  </span>
  } @if (task.tsk_qualifiers.indexOf('mobile') !== -1) {
  <span class="task-qualifier-icon">
    <img
      src="/assets/icons/smartphone.svg"
      alt="Can be done using phone"
      title="Can be done using phone"
    />
  </span>
  } @if (task.tsk_qualifiers.indexOf('flag') !== -1) {
  <span class="task-qualifier-icon task-qualifier-flag">&#9873;</span>
  } @if (task.tsk_qualifiers.indexOf('blocked') !== -1) {
  <span class="task-qualifier-icon">&#10006;</span>
  } @if (task['inNextToDo']) {
  <span class="task-next-todo-icon">
    <img
      src="/assets/icons/energy.svg"
      alt="In Next To Do Today listing"
      title="In Next To Do Today listing"
    />
  </span>
  }
  <!-- #endregion -->
  <!-- #region Main task description -->
  <span
    contenteditable="true"
    spellcheck="false"
    [ngClass]="{
      'task-done': task.tsk_ctg_status === this.taskStatus.CLOSED,
      'task-in-process': task.tsk_ctg_in_process === 2,
      'task-highlighted': task.tsk_qualifiers.indexOf('highlighted') !== -1,
      'task-priority': task.tsk_qualifiers.indexOf('priority') !== -1,
      'task-important': task.tsk_qualifiers.indexOf('important') !== -1,
      'task-unexpected': task.tsk_qualifiers.indexOf('unexpected') !== -1,
      'task-q-progressed': task.tsk_qualifiers.indexOf('progressed') !== -1,
      'task-directions': task.tsk_qualifiers.indexOf('directions') !== -1,
      'task-critical': task.tsk_qualifiers.indexOf('critical') !== -1
    }"
    (keyup)="handlerTaskKeyUp(task, $event)"
    (blur)="handlerTaskBlur(task, $event)"
    (focus)="handlerTaskFocus(task, $event)"
    (keydown)="handlerTaskKeyDown(task, $event)"
    tabindex="0"
    class="editable task-text"
    >{{ task.tsk_name }}</span
  >
  <!-- #endregion -->
  <!-- #region Link -->
  @if (task.tsk_url) {
  <span class="task-link"
    ><a href="{{ task.tsk_url }}" title="{{ task.tsk_url }}" target="_blank"
      >link</a
    >&nbsp;</span
  >
  }
  <!-- #endregion -->
  <!-- #region ETA -->
  <span
    [attr.contenteditable]="options.optAllowToEditETA"
    spellcheck="false"
    (blur)="handlers.onTaskEditEstimatedDuration(task, $event)"
    (keydown)="handlers.onTaskEditEtaKeyDown(task, $event)"
    [ngClass]="{ 'task-no-eta': task.tsk_estimated_duration === 0 }"
    class="task-eta"
    >{{ formatTime(task.tsk_estimated_duration * 60, "#h#m") }}</span
  >
  <!-- #endregion -->
  <!-- #region Tags -->
  @if (task.tsk_tags) {
  <span class="task-tags"
    >&nbsp;@for (tag of task.tsk_tags.split(' '); track tag) {
    <span (click)="handlers.onShowTagStats(tag)" class="tag"
      >#{{ tag }}&nbsp;</span
    >
    }
  </span>
  }
  <!-- #endregion -->
  <!-- #region Schedule -->
  @if (task.tsk_schedule_date_start) {
  <span
    ><strong
      >&nbsp;at {{ formatDateTime(task.tsk_schedule_date_start) }}
      &#9200;</strong
    ></span
  >
  }&nbsp;@if (options.optViewElapsedDays) {
  <span [ngClass]="handlers.onGetTaskAgeClass(task)"
    >{{ handlers.onGetTaskAge(task) }}</span
  >
  }
  <!-- #endregion -->
  <!-- #region Record name -->
  @if (options.optShowRecordNameInline) {
  <span class="task-record-name">[{{ task.tsk_id_record }}]</span>
  }
  <!-- #endregion -->
  <!-- #region Is in backlog -->
  @if (options.optShowBadgeIfTaskIsInBacklog && task.tsk_ctg_status === 1) {
  <span class="task-badge-status-backlog">BACKLOG</span>
  }
  <!-- #endregion -->
  @if (task['not_sync']) {
  <span>(Not in sync)</span>
  }&nbsp;@if (handlers.onViewTaskDetails && options.optShowDetailsButton) {
  <button (click)="handlers.onViewTaskDetails(task)">details</button>
  }
</div>
