span.task-in-process {
  font-style: italic;
  font-weight: bold;
  color: var(--task-st-in-progress);
}

/* #region Qualifiers */
span.task-directions {
  background-color: var(--task-q-directions);
}
span.task-highlighted {
  background-color: var(--task-q-highlighted);
}
span.task-important {
  background-color: var(--task-q-important);
}
span.task-priority {
  background-color: var(--task-q-priority);
}
span.task-unexpected {
  background-color: var(--task-q-unexpected);
}
span.task-critical {
  background-color: var(--task-q-critical);
}
/* #endregion */

.task-record-collapsed {
  display: inline-block;
}

.task-record-use-columns {
  columns: 1;
}

.task-record-background {
  background-color: var(--task-record-background);
}

@media (min-width: 504px) {
  .task-record-use-columns {
    columns: 3;
    max-width: 100% !important;
  }
}

@media (min-width: 1036px) {
  .task-record-use-columns {
    columns: 5;
    max-width: 100% !important;
  }
}
