<div>
  <strong>Account List</strong>
  <button (click)="showNewAccountForm()">New Account</button>
  <div id="newAccountFormSection">
    <form name="accountForm">
      <label for="accountName">Account Name</label>
      <input type="text" name="accountName" />
    </form>
  </div>

  <div class="card-list">
    <div *ngFor="let item of viewData.accountList" class="card-item-container">
      <span class="account-name">{{ item.acc_name }}</span>
      <br />
      <span class="account-type">{{ item.acc_txt_type }}</span>
      <br />
      <span> Check day: {{ item.acc_check_day }} </span>
      <span *ngIf="item.acc_comment"> | Comment: {{ item.acc_comment }}</span>
      <!--<span (click)="item.showOptions = !item.showOptions">
        {{ item.showOptions ? "-" : "+" }}
    </span>-->
      <br />
      <span *ngIf="item.acc_average_min_balance != 0">
        Average min balance:
        {{
          item.acc_average_min_balance | currency: "USD":"symbol-narrow":"1.2-2"
        }}
      </span>
      <br />
      <span>Payment day: {{ item.acc_payment_day }}</span>
      <br />
      <span>Status: {{ item.acc_txt_status }}</span>

      <span class="account-badge-new" *ngIf="item.isNew">new</span>
      <span class="account-badge-edited" *ngIf="item.isEdited">edited</span>
      <br />
      <!--
          <span *ngIf="item.showOptions">
            <button (click)="archiveRecord(item)">archive</button>
            <button (click)="editNotes(item)">edit notes</button>
            <button (click)="viewHistory(item)">view history</button>
        </span>    -->
    </div>
  </div>
</div>
