<div>
  <div>
    <a [routerLink]="['/places']">Places</a>
    <a [routerLink]="['/presets']">Presets</a>
  </div>

  <strong>Accounts</strong>

  <form #itemForm="ngForm" (ngSubmit)="newItem(itemForm)">
    <button
      type="button"
      (click)="viewData.showItemForm = !viewData.showItemForm"
    >
      {{ viewData.showItemForm ? "Hide Form" : "New Item" }}
    </button>

    <div id="newAccountFormSection" *ngIf="viewData.showItemForm">
      <span class="field" *ngIf="model.id">
        <label for="id" class="label-left">Id</label>
        <span type="text" name="id" id="id" class="field-input-small">{{
          model.id
        }}</span>
      </span>

      <span class="field">
        <label for="fName" class="label-left">Name</label>
        <input
          type="text"
          name="fName"
          id="fName"
          class="field-input field-input-medium"
          ngModel
        />
      </span>

      <span class="field">
        <label for="fType" class="label-left">Type</label>
        <select
          name="fType"
          id="fType"
          class="field-select"
          [(ngModel)]="model.fType"
        >
          <option
            *ngFor="let opt of viewData.typeList"
            [value]="opt.ctg_sequential"
            [selected]="opt.ctg_sequential === itemForm.value.fType"
            >{{ opt.ctg_name }}</option
          >
        </select>
      </span>

      <span class="field">
        <label for="fComment" class="label-left">Comment</label>
        <input
          type="text"
          name="fComment"
          id="fComment"
          class="field-input field-input-large"
          ngModel
        />
      </span>

      <span class="field">
        <label for="fCheckDay" class="label-left">Check Day</label>
        <input
          type="number"
          name="fCheckDay"
          id="fCheckDay"
          class="field-input field-input-number"
          step="1"
          min="0"
          max="31"
          maxlength="2"
          ngModel
        />
      </span>

      <span class="field">
        <label for="fAverageMinBalance" class="label-left"
          >Average Min Balance</label
        >
        <input
          type="number"
          name="fAverageMinBalance"
          id="fAverageMinBalance"
          class="field-input field-input-number"
          step="1"
          min="0"
          ngModel
        />
      </span>

      <span class="field">
        <label for="fPaymentDay" class="label-left">Payment Day</label>
        <input
          type="number"
          name="fPaymentDay"
          id="fPaymentDay"
          class="field-input field-input-number"
          step="1"
          min="0"
          max="31"
          maxlength="2"
          ngModel
        />
      </span>

      <button type="submit">{{ model.id === null ? "Save" : "Update" }}</button>
    </div>
  </form>

  <div class="card-list">
    <div *ngFor="let item of viewData.accountList" class="card-item-container">
      <span class="account-name">{{ item.acc_name }}</span>
      <br />
      <span class="account-type">{{ item.acc_txt_type }}</span>
      <span (click)="item.showOptions = !item.showOptions">
        {{ item.showOptions ? "-" : "+" }}
      </span>
      <br />
      <span> Check day: {{ item.acc_check_day }} </span>
      <span *ngIf="item.acc_comment"> | Comment: {{ item.acc_comment }}</span>
      <br />
      <span *ngIf="item.acc_average_min_balance != 0">
        Average min balance:
        {{
          item.acc_average_min_balance | currency: "USD":"symbol-narrow":"1.2-2"
        }}
      </span>
      <br />
      <span>Payment day: {{ item.acc_payment_day }}</span>
      <br />
      <span>Status: {{ item.acc_txt_status }}</span>

      <span class="general-badge-new" *ngIf="item.isNew">new</span>
      <span class="general-badge-edited" *ngIf="item.isEdited">edited</span>
      <br />
      <span *ngIf="item.showOptions">
        <button (click)="setModelDetails(item.acc_id, itemForm)">
          Edit
        </button>
        <button (click)="toggleStatus(item)">
          {{ item.acc_ctg_status === 1 ? "Disable" : "Enable" }}
        </button>
      </span>
    </div>
  </div>
</div>
