.balance-row:nth-child(even) {
  background-color: lightgrey;
}

.balance-row:hover {
  background-color: lightblue;
}

@media (max-width: 504px) {
  .padding-all-5 {
    padding: 8px;
  }
}

.balance-listing-container {
  overflow-x: auto;
}

.balance-listing-container table {
  width: 100%;
}

@media (min-width: 505px) {
  .balance-listing-container table {
    width: initial;
  }
}

.balance-row-debit td:first-child .no-button {
  color: #0061a7;
}

.balance-row-investment td:first-child .no-button {
  color: #0dab19;
}

.balance-row-credit td:first-child .no-button {
  color: #de0000;
}

.balance-row-loan td:first-child .no-button {
  color: brown;
}

.balance-row-capital td:first-child .no-button {
  color: purple;
}

.balance-row-crypto td:first-child .no-button {
  color: darkgreen;
}
