<div>
  <button (click)="viewData.showOptions = !viewData.showOptions">
    {{ viewData.showOptions ? "Hide" : "Show" }} Options
  </button>
  <div class="balance-options" *ngIf="viewData.showOptions">
    <button (click)="rebuild()">Rebuild</button>
    <button (click)="transfer()">Transfer</button>
    <button (click)="rebuildAndTransfer()">Rebuild & Transfer</button>
    <button (click)="rebuildAndTransferUntilCurrentMonth()">
      Rebuild & Transfer Until Current Month
    </button>
  </div>
  <br />
  <strong>Balance</strong>

  <span class="field">
    <label for="fMonth" class="label-left">Year-Month</label>
    <select
      [(ngModel)]="model.iterable"
      name="fMonth"
      id="fMonth"
      (change)="reloadBalance()"
    >
      <option *ngFor="let opt of viewData.monthList" value="{{ opt.iterable }}">
        {{ opt.name }}
      </option>
    </select>

    <button (click)="refreshData()">Refresh data</button>

    <br />
    <input
      name="fFilterNonZero"
      id="fFilterNonZero"
      type="checkbox"
      (click)="toggleFilterNonZero()"
      [(ngModel)]="viewData.filterNonZero"
    />
    <label for="fFilterNonZero">Filter Non Zero Balance</label>
  </span>

  <div class="balance-listing-container">
    <table>
      <tr>
        <th>Account</th>
        <th class="desktop-only">Initial</th>
        <th class="desktop-only">Charges</th>
        <th class="desktop-only">Withdrawals</th>
        <th>Final</th>
      </tr>
      <tr
        *ngFor="let b of viewData.monthBalance"
        class="balance-row"
        [ngClass]="{
        'balance-row-debit': b.bal_ctg_account_type === 1,
        'balance-row-investment': b.bal_ctg_account_type === 2,
        'balance-row-credit': b.bal_ctg_account_type === 3,
        'balance-row-loan': b.bal_ctg_account_type === 4,
        'balance-row-capital': b.bal_ctg_account_type === 5,
        'balance-row-crypto': b.bal_ctg_account_type === 6
      }"
      >
        <td>
          <span
            (click)="b.showOptions = !b.showOptions"
            tabindex="0"
            (keydown.enter)="b.showOptions = !b.showOptions"
          >
            {{ b.showOptions ? "-" : "+" }}
          </span>
          <span>
            <button
              type="button"
              class="no-button"
              (click)="renderMovements(b, $event);"
            >
              {{ b.bal_txt_account }}
            </button>
          </span>
          <div *ngIf="b.showOptions">
            <button
              type="button"
              (click)="renderMovements(b, $event); b.showOptions = false;"
            >
              details
            </button>
          </div>
        </td>
        <td class="text-align-right padding-all-5 desktop-only">
          {{ b.bal_initial | currency: "USD":"symbol-narrow":"1.2-2" }}
        </td>
        <td class="text-align-right padding-all-5 desktop-only">
          {{ b.bal_charges | currency: "USD":"symbol-narrow":"1.2-2" }}
        </td>
        <td class="text-align-right padding-all-5 desktop-only">
          {{ b.bal_withdrawals | currency: "USD":"symbol-narrow":"1.2-2" }}
        </td>
        <td
          class="text-align-right padding-all-5"
          [ngClass]="{
            'balance-zero': b.bal_final == 0,
            'balance-positive': b.bal_final > 0,
            'balance-negative': b.bal_final < 0
          }"
        >
          {{ b.bal_final | currency: "USD":"symbol-narrow":"1.2-2" }}
        </td>
      </tr>
    </table>
  </div>

  <br />
  <div class="balance-listing-container">
    <table>
      <tr>
        <th>Account Type</th>
        <th>Final</th>
      </tr>
      <tr *ngFor="let b of viewData.balanceDistribution" class="balance-row">
        <td>{{ b.name }}</td>
        <td
          class="text-align-right padding-all-5"
          [ngClass]="{
            'balance-zero': b.total == 0,
            'balance-positive': b.total > 0,
            'balance-negative': b.total < 0
          }"
        >
          {{ b.total | currency: "USD":"symbol-narrow":"1.2-2" }}
        </td>
      </tr>
    </table>
  </div>

  <div>
    <div><strong>Movement Summary</strong></div>
    <div>Total count: {{ viewData.movementSummary.movementCount }}</div>
    <div>Expense count: {{ viewData.movementSummary.expenseCount }}</div>
    <div>Income count: {{ viewData.movementSummary.incomeCount }}</div>
    <div>Transfer count: {{ viewData.movementSummary.transferCount }}</div>
  </div>

  <div *ngIf="model.selectedBalance">
    <button
      type="button"
      (click)="model.selectedBalance = null; viewData.movements = [];"
    >
      hide details
    </button>
    <br />
    Account:
    <strong>{{model.selectedBalance.bal_txt_account}}</strong>
    <br />
    Movement count: {{ viewData.movements.length }}
    <br />
    Period: {{model.selectedBalance.bal_year }} - {{ model.selectedMonthName }}
    <br />
    <div>
      <div>
        Average Balance: {{ viewData.averageBalanceInfo.averageBalance |
        currency: "USD":"symbol-narrow":"1.2-2" }}
        <span
          *ngIf="
            viewData.averageBalanceInfo.averageBalance >=
            viewData.averageBalanceInfo.averageMinBalance
          "
        >
          &gt;= {{ viewData.averageBalanceInfo.averageMinBalance | currency:
          "USD":"symbol-narrow":"1.2-2" }}
        </span>
        <span
          *ngIf="
            viewData.averageBalanceInfo.averageBalance <
            viewData.averageBalanceInfo.averageMinBalance
          "
        >
          &lt; {{ viewData.averageBalanceInfo.averageMinBalance | currency:
          "USD":"symbol-narrow":"1.2-2" }}
        </span>
      </div>
      <div>
        Date Range: {{ viewData.averageBalanceInfo.startingDate | date:
        "yyyy-MM-dd" }} - {{ viewData.averageBalanceInfo.finalDate | date:
        "yyyy-MM-dd" }}
      </div>
      <button (click)="toggleDailyBalance()">
        {{ viewData.showDailyBalance ? "Hide" : "Show" }} daily balance
      </button>
      <div *ngIf="viewData.showDailyBalance">
        <table>
          <tr>
            <th class="padding-all-5 width-80">Date</th>
            <th class="padding-all-5 width-100">Balance</th>
          </tr>
          <tr
            class="movements-listing-row"
            *ngFor="let m of viewData.averageBalanceInfo.dailyBalance"
          >
            <td class="padding-all-5">{{ m.date | date: "yyyy-MM-dd" }}</td>
            <td class="padding-all-5 text-align-right">
              {{ m.balance | currency: "USD":"symbol-narrow":"1.2-2" }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <movement-listing
    [movementList]="viewData.movements"
    [selectedBalance]="model.selectedBalance"
    selectedView="compact"
    *ngIf="viewData.movements.length"
    (onSelectMovement)="selectMovement($event)"
  ></movement-listing>

  <div *ngIf="viewData.selectedTotal !== 0">
    <table>
      <thead>
        <tr>
          <td>Type</td>
          <td>Sum</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Income</td>
          <td>
            {{viewData.selectedIncome | currency: "USD":"symbol-narrow":"1.2-2"
            }}
          </td>
        </tr>
        <tr>
          <td>Expense</td>
          <td>
            {{viewData.selectedExpense | currency: "USD":"symbol-narrow":"1.2-2"
            }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td>
            {{viewData.selectedTotal | currency: "USD":"symbol-narrow":"1.2-2"
            }}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <canvas
    id="monthlyExpenseChart"
    baseChart
    [datasets]="viewData.monthlyExpenseChart.chartData"
    [labels]="viewData.monthlyExpenseChart.chartLabels"
    [options]="viewData.monthlyExpenseChart.chartOptions"
    [legend]="viewData.monthlyExpenseChart.chartLegend"
    [type]="viewData.monthlyExpenseChart.chartType"
  >
  </canvas>

  <canvas
    id="monthlyIncomeChart"
    baseChart
    [datasets]="viewData.monthlyIncomeChart.chartData"
    [labels]="viewData.monthlyIncomeChart.chartLabels"
    [options]="viewData.monthlyIncomeChart.chartOptions"
    [legend]="viewData.monthlyIncomeChart.chartLegend"
    [type]="viewData.monthlyIncomeChart.chartType"
  >
  </canvas>

  <canvas
    id="monthlyExpenseVsIncomeChart"
    baseChart
    [datasets]="viewData.monthlyExpenseVsIncomeChart.chartData"
    [labels]="viewData.monthlyExpenseVsIncomeChart.chartLabels"
    [type]="viewData.monthlyExpenseVsIncomeChart.chartType"
  >
  </canvas>

  <canvas
    id="monthlyExpenseComparisonChart"
    baseChart
    [datasets]="viewData.monthlyExpenseComparisonChart.chartData"
    [labels]="viewData.monthlyExpenseComparisonChart.chartLabels"
    [type]="viewData.monthlyExpenseComparisonChart.chartType"
  >
  </canvas>

  <canvas
    id="monthlyExpenseComparisonFoodChart"
    baseChart
    [datasets]="viewData.monthlyExpenseComparisonFoodChart.chartData"
    [labels]="viewData.monthlyExpenseComparisonFoodChart.chartLabels"
    [type]="viewData.monthlyExpenseComparisonFoodChart.chartType"
  >
  </canvas>

  <div>
    <button type="button" (click)="selectAllCategories()">
      select all categories
    </button>
    <span *ngFor="let c of viewData.categoryList">
      <input
        type="checkbox"
        [id]="'cat' + c.mct_id"
        (click)="toggleCategorySelection(c.mct_id, $event)"
      />
      <label [for]="'cat' + c.mct_id">{{ c.mct_name}}</label>
    </span>

    <movement-listing
      [movementList]="viewData.movementsPerSelectedCategories"
      [selectedBalance]="model.selectedBalance"
      selectedView="compact"
      *ngIf="viewData.movementsPerSelectedCategories.length"
      (onSelectMovement)="selectMovement($event)"
    ></movement-listing>
  </div>
</div>
