<div>
  <strong>Categories</strong>

  <form #itemForm="ngForm" (ngSubmit)="newItem(itemForm)">
    <button
      type="button"
      (click)="viewData.showItemForm = !viewData.showItemForm"
    >
      {{ viewData.showItemForm ? "Hide Form" : "New Item" }}
    </button>

    @if (viewData.showItemForm) {
    <div id="newItemFormSection">
      @if (model.id) {
      <span class="field">
        <label for="id" class="label-left">Id</label>
        <span type="text" name="id" id="id" class="field-input-small"
          >{{ model.id }}</span
        >
      </span>
      }
      <span class="field">
        <label for="fName" class="label-left">Name</label>
        <input
          type="text"
          name="fName"
          id="fName"
          class="field-input field-input-medium"
          ngModel
        />
      </span>
      <button type="submit">{{ model.id === null ? "Save" : "Update" }}</button>
      @if (viewData.selectedCategory &&
      viewData.selectedCategory['movementList'] &&
      viewData.selectedCategory['movementList'].length === 0) {
      <button
        type="button"
        class="btn-secondary"
        (click)="deleteItem(model.id)"
      >
        Delete
      </button>
      }
    </div>
    } @if (viewData.showItemForm) {
    <div>
      @if (viewData.selectedCategory) {
      <movement-listing
        [movementList]="viewData.selectedCategory['movementList']"
        [selectedBalance]="viewData.selectedCategory"
        selectedView="compact"
      ></movement-listing>
      }
      <span> Replace uses of this category with a different one </span>
      <select
        name="replaceCategoryId"
        id="replaceCategoryId"
        class="field-select"
        [(ngModel)]="replaceCategoryId"
      >
        @for (opt of viewData.replaceCategoryList; track opt) {
        <option [value]="opt.mct_id">{{ opt.mct_name }}</option>
        }
      </select>
      <button
        type="button"
        (click)="applyCategoryReplacement(model.id, replaceCategoryId)"
      >
        Apply replacement
      </button>
    </div>
    }
  </form>

  <div class="card-list">
    @for (item of viewData.categoryList; track item) {
    <div
      class="card-item-container"
      (click)="setModelDetails(item.mct_id, itemForm)"
    >
      <span class="category-name">{{ item.mct_name }}</span>
      <br />
      Used: {{ item.movementList && item.movementList.length }}
      <br />
      <span>Status: {{ item.mct_txt_status }}</span>
      @if (item.isNew) {
      <span class="category-badge-new">new</span>
      } @if (item.isEdited) {
      <span class="category-badge-edited">edited</span>
      }
      <!--
          <span *ngIf="item.showOptions">
            <button (click)="archiveRecord(item)">archive</button>
            <button (click)="editNotes(item)">edit notes</button>
            <button (click)="viewHistory(item)">view history</button>
          </span>    -->
    </div>
    }
  </div>
</div>
