<div>
  Use View
  <select [(ngModel)]="selectedView">
    <option value="cards">Cards</option>
    <option value="compact">Compact</option>
    <option value="grid">Grid</option>
  </select>
  Showing {{movementList.length}} items.
</div>

@if (showSearch) {
<div>
  <label for="fSearch" class="label-left">Search term</label>
  <input
    type="text"
    name="fSearch"
    id="fSearch"
    class="field-input"
    [(ngModel)]="searchTerm"
    (keyup.enter)="handleSearch()"
  />
  <button (click)="handleSearch()">Search</button>
</div>
} @if (movementList.length && selectedView === 'grid') {
<table>
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>Account</th>
    <th>Account To</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Budget</th>
    <th>Category</th>
    <th>Place</th>
    <th>Description</th>
    <th>Notes</th>
    <th>Status</th>
  </tr>
  @for (m of movementList; track m) {
  <tr>
    <td>{{ m.mov_id }}</td>
    <td>{{ m.mov_date | date: "yyyy-MM-dd" }}</td>
    <td>{{ m.mov_txt_account }}</td>
    <td>{{ m.mov_txt_account_to }}</td>
    <td>{{ m.mov_txt_type }}</td>
    <td>{{ m.mov_amount | currency: "USD":"symbol-narrow":"1.2-2" }}</td>
    <td>{{ m.mov_budget }}</td>
    <td>{{ m.mov_txt_category }}</td>
    <td>{{ m.mov_txt_place }}</td>
    <td>{{ m.mov_desc }}</td>
    <td>{{ m.mov_notes }}</td>
    <td>{{ m.mov_txt_status }}</td>
  </tr>
  }
</table>
} @if (movementList.length && selectedView === 'cards') {
<div>
  <div class="movement-list">
    @for (m of movementList; track m) {
    <div class="movement-box" (click)="handleClick(m.mov_id)">
      @if (false) {
      <span>{{ m.mov_id }}<br /></span>
      }
      <span
        [ngClass]="{
          'movement-amount-income': m.mov_ctg_type === 2,
          'movement-amount-expense': m.mov_ctg_type === 1,
          'movement-amount-transfer': m.mov_ctg_type === 3
        }"
      >
        @if (m.mov_txt_type === 'EXPENSE') {
        <span>-</span>
        } @if (m.mov_txt_type === 'INCOME') {
        <span>+</span>
        }
        <span
          >{{ m.mov_amount | currency: "USD":"symbol-narrow":"1.2-2" }}</span
        >
      </span>
      <span class="movement-account">&nbsp;[{{ m.mov_txt_account }}]</span>
      @if (m.mov_txt_account_to) {
      <span class="movement-account"> -> [{{ m.mov_txt_account_to }}]</span>
      }<br />
      <span class="movement-date">[{{ m.mov_date | date: "yyyy-MM-dd" }}]</span>
      <span class="movement-description">&nbsp;{{ m.mov_desc }}</span>
      <br />
      @if (m.mov_txt_category) {
      <span class="movement-category">{{ m.mov_txt_category }}</span>
      } @if (m.mov_txt_place) {
      <span class="movement-place"> | {{ m.mov_txt_place }}</span>
      } @if (m.mov_budget) {
      <span class="movement-budget"> | #[{{ m.mov_budget }}]</span>
      } @if (m.mov_ctg_type === 1 || m.mov_ctg_type === 2) {
      <br />
      }
      <span class="movement-notes">{{ m.mov_notes }}</span>
      @if (m.mov_ctg_status !== 1) {
      <span class="movement-status">{{ m.mov_txt_status }}</span>
      } @if (m.isNew) {
      <span class="movement-badge-new">new</span>
      } @if (m.isEdited) {
      <span class="movement-badge-edited">edited</span>
      }
    </div>
    }
  </div>
</div>
} @if (movementList.length && selectedView === 'compact') {
<div>
  <table>
    <tr>
      <th class="padding-all-5">-</th>
      <th class="padding-all-5 width-80">Date</th>
      <th class="padding-all-5 width-80">Amount</th>
      <th class="padding-all-5">Place</th>
      <th class="padding-all-5">Description</th>
    </tr>
    @if (selectedBalance) {
    <tr class="movements-listing-row vertical-align-top">
      <td class="padding-all-5"></td>
      <td class="padding-all-5"></td>
      <td class="padding-all-5 text-align-right">
        <strong
          >{{ selectedBalance.bal_initial | currency:
          "USD":"symbol-narrow":"1.2-2" }}</strong
        >
      </td>
      <td class="padding-all-5"></td>
      <td class="padding-all-5"><strong>INITIAL BALANCE</strong></td>
    </tr>
    } @for (m of movementList; track m) {
    <tr class="movements-listing-row vertical-align-top">
      <td class="padding-all-5">
        <input type="checkbox" (click)="handleSelectMovement(m, $event)" />
      </td>
      <td class="padding-all-5">{{ m.mov_date | date: "yyyy-MM-dd" }}</td>
      @if (selectedBalance) {
      <td class="padding-all-5 text-align-right">
        {{ (m.mov_ctg_type === 1 || (m.mov_ctg_type === 3 && m.mov_id_account
        === selectedBalance.bal_id_account) ? -1 * m.mov_amount : m.mov_amount)
        | currency: "USD":"symbol-narrow":"1.2-2" }}
      </td>
      } @if (!selectedBalance) {
      <td class="padding-all-5 text-align-right">
        {{ (m.mov_ctg_type === 1 ? -1 * m.mov_amount : m.mov_amount) | currency:
        "USD":"symbol-narrow":"1.2-2" }}
      </td>
      }
      <td class="padding-all-5">
        {{ m.mov_ctg_type === 3 ? "TRANSFER" : m.mov_txt_place }}
      </td>
      <td class="padding-all-5">{{ m.mov_desc }}</td>
    </tr>
    } @if (selectedBalance) {
    <tr class="movements-listing-row vertical-align-top">
      <td class="padding-all-5"></td>
      <td class="padding-all-5"></td>
      <td class="padding-all-5 text-align-right">
        <strong
          >{{ selectedBalance.bal_final | currency:
          "USD":"symbol-narrow":"1.2-2" }}</strong
        >
      </td>
      <td class="padding-all-5"></td>
      <td class="padding-all-5"><strong>FINAL BALANCE</strong></td>
    </tr>
    }
  </table>
</div>
}
