<strong>Movements</strong>
<br />

<form #newMovementForm="ngForm" (ngSubmit)="newMovement(newMovementForm)">
  <button type="button" (click)="handleNewMovement(newMovementForm)">
    {{ viewData.showCreateForm ? "Hide Movement Form" : "New Movement" }}
  </button>

  @if (viewData.showCreateForm) {
  <div>
    <input
      type="radio"
      name="fMovementFlowType"
      id="fMovementFlowTypeCustom"
      [(ngModel)]="_movementFlowType"
      (click)="movementFlowType('custom')"
      value="custom"
    />
    <label for="fMovementFlowTypeCustom">Custom</label>
    <input
      type="radio"
      name="fMovementFlowType"
      id="fMovementFlowTypeTransfer"
      [(ngModel)]="_movementFlowType"
      (click)="movementFlowType('transfer')"
      value="transfer"
    />
    <label for="fMovementFlowTypeTransfer">Transfer</label>
    <div>
      @if (isCustom) {
      <h4>Custom</h4>
      } @if (isTransfer) {
      <h4>Transfer</h4>
      } @if (viewData.presets.length > 1 && !model.id) {
      <span class="field">
        <label for="fPreset" class="label-left">Use a Preset</label>
        <select
          name="fPreset"
          id="fPreset"
          class="field-select"
          [(ngModel)]="model.selectedPreset"
          (change)="
            setModelDetails(model.selectedPreset, newMovementForm, 'pre')
          "
        >
          @for (opt of viewData.presets; track opt) {
          <option value="{{ opt.pre_id }}">{{ opt.pre_name }}</option>
          }
        </select>
        <hr />
      </span>
      } @if (model.id) {
      <span class="field">
        <label for="id" class="label-left">Id</label>
        <span class="movement-input-id">{{ model.id }}</span>
      </span>
      }
      <span class="field">
        <label for="fDescription" class="label-left">Description</label>
        <input
          type="text"
          name="fDescription"
          id="fDescription"
          class="field-input movement-input-description"
          (blur)="onDescriptionBlurHandler($event.target.value, newMovementForm)"
          ngModel
        />
        @if (newMovementForm.value.fDescription) {
        <span>
          {{ newMovementForm.value.fDescription.length }} / 200 characters
        </span>
        }
      </span>
      <span class="field">
        <label for="fAmount" class="label-left">Amount</label>
        <input
          type="number"
          name="fAmount"
          id="fAmount"
          class="field-input"
          step="0.01"
          inputmode="decimal"
          ngModel
        />
      </span>
      <span class="field">
        <label for="fAccount" class="label-left">Account</label>
        <select name="fAccount" id="fAccount" class="field-select" ngModel>
          @for (opt of viewData.accounts; track opt) {
          <option value="{{ opt.acc_id }}">
            {{ opt.acc_name }} / {{ opt.bal_final | currency:
            "USD":"symbol-narrow":"1.2-2" }}
          </option>
          }
        </select>
      </span>
      @if (isTransfer) {
      <span class="field">
        <label for="fAccountTo" class="label-left">Account To</label>
        <select name="fAccountTo" id="fAccountTo" class="field-select" ngModel>
          @for (opt of viewData.accounts; track opt) {
          <option value="{{ opt.acc_id }}">
            {{ opt.acc_name }} / {{ opt.bal_final | currency:
            "USD":"symbol-narrow":"1.2-2" }}
          </option>
          }
        </select>
      </span>
      } @if (!isTransfer) {
      <span class="field">
        <input
          type="radio"
          [value]="1"
          name="fMovementType"
          id="fMovementType_1"
          [(ngModel)]="model.type"
        />
        <label for="fMovementType_1" class="label-radio">Expense</label>
        <input
          type="radio"
          [value]="2"
          name="fMovementType"
          id="fMovementType_2"
          [(ngModel)]="model.type"
        />
        <label for="fMovementType_2" class="label-radio">Income</label>
      </span>
      }
      <span class="field">
        <label for="fDate" class="label-left">Movement Date</label>
        <input type="date" name="fDate" [(ngModel)]="model.date" />
      </span>
      @if (!isTransfer) {
      <span class="field">
        <label for="fPlace" class="label-left">Place</label>
        <select
          name="fPlace"
          id="fPlace"
          class="field-select"
          [(ngModel)]="model.place"
          (change)="onChangePlace(model.place)"
        >
          @for (opt of viewData.places; track opt) {
          <option
            [value]="opt.mpl_id"
            [selected]="opt.mpl_id === newMovementForm.value.fPlace"
          >
            {{ opt.mpl_name }}
          </option>
          }
        </select>
        <combo-item
          [name]="place"
          [addNewItem]="addNewPlaceForUser"
        ></combo-item>
      </span>
      } @if (!isTransfer) {
      <span class="field">
        <label for="fCategory" class="label-left">Category</label>
        <select
          name="fCategory"
          id="fCategory"
          class="field-select"
          [(ngModel)]="model.category"
        >
          @for (opt of viewData.categories; track opt) {
          <option
            [value]="opt.mct_id"
            [selected]="opt.mct_id === newMovementForm.value.fCategory"
          >
            {{ opt.mct_name }}
          </option>
          }
        </select>
        <combo-item
          [name]="category"
          [addNewItem]="addNewCategoryForUser"
        ></combo-item>
      </span>
      }
      <span class="field">
        <label for="fBudget" class="field-input label-left">Tags</label>
        <input
          type="text"
          name="fBudget"
          id="fBudget"
          class="field-input movement-input-budget"
          ngModel
        />
        @if (newMovementForm.value.fBudget) {
        <span>
          {{ newMovementForm.value.fBudget.length }} / 50 characters
        </span>
        }
      </span>
      <span class="field">
        <label for="fNotes" class="label-left">Notes</label>
        <input
          type="text"
          name="fNotes"
          id="fNotes"
          class="field-input movement-input-notes"
          ngModel
        />
        @if (newMovementForm.value.fNotes) {
        <span>
          {{ newMovementForm.value.fNotes.length }} / 200 characters
        </span>
        }
      </span>
      <span class="field">
        <hr />
        <label for="fAsPreset" class="label-left">As Preset</label>
        <input
          type="checkbox"
          name="fAsPreset"
          id="fAsPreset"
          [(ngModel)]="model.asPreset"
        />
      </span>
      @if (model.asPreset) {
      <span class="field">
        <label for="fName" class="label-left">Preset Name</label>
        <input
          type="text"
          name="fName"
          id="fName"
          class="field-input"
          ngModel
        />
      </span>
      }
      <span class="field">
        <label for="fResetForm" class="label-left">Reset form after save</label>
        <input
          type="checkbox"
          name="fResetForm"
          id="fResetForm"
          [(ngModel)]="model.resetForm"
        />
      </span>
      <button type="submit" id="newFormSubmitButton">
        {{ model.asPreset ? "Save as Preset" : model.id !== null ? "Update
        Movement" : "Save Movement" }}
      </button>
      @if (model.id !== null) {
      <button
        type="button"
        (click)="cancel(model.id)"
        title="Sets status to Cancelled"
      >
        Cancel
      </button>
      } @if (model.id !== null) {
      <button
        type="button"
        (click)="deleteMovement(model.id)"
        title="Deletes this movement"
      >
        Delete
      </button>
      }
    </div>
  </div>
  }
</form>

<movement-listing
  [movementList]="viewData.movements"
  selectedView="cards"
  (onItemClick)="setModelDetails($event, newMovementForm, 'mov')"
  showSearch="true"
  (onSearch)="onSearch($event)"
></movement-listing>
