<div>
  <strong>Places</strong>

  <form #itemForm="ngForm" (ngSubmit)="newItem(itemForm)">
    <button
      type="button"
      (click)="viewData.showItemForm = !viewData.showItemForm"
    >
      {{ viewData.showItemForm ? "Hide Form" : "New Item" }}
    </button>

    <div id="newItemFormSection" *ngIf="viewData.showItemForm">
      <span class="field" *ngIf="model.id">
        <label for="id" class="label-left">Id</label>
        <span type="text" name="id" id="id" class="field-input-small">{{
          model.id
        }}</span>
      </span>

      <span class="field">
        <label for="fName" class="label-left">Name</label>
        <input
          type="text"
          name="fName"
          id="fName"
          class="field-input field-input-medium"
          ngModel
        />
      </span>

      <button type="submit">{{ model.id === null ? "Save" : "Update" }}</button>
    </div>
  </form>

  <div class="card-list">
    <div
      *ngFor="let item of viewData.placeList"
      class="card-item-container"
      (click)="setModelDetails(item.mpl_id, itemForm)"
    >
      <span class="place-name">{{ item.mpl_name }}</span>
      <br />
      Used: {{ item.movementList.length }}
      <br />
      <span>Status: {{ item.mpl_txt_status }}</span>

      <span class="place-badge-new" *ngIf="item.isNew">new</span>
      <span class="place-badge-edited" *ngIf="item.isEdited">edited</span>
      <!--
            <span *ngIf="item.showOptions">
              <button (click)="archiveRecord(item)">archive</button>
              <button (click)="editNotes(item)">edit notes</button>
              <button (click)="viewHistory(item)">view history</button>
          </span>    -->
    </div>
  </div>
</div>
