/* Multimedia coloring based on age */
.multimedia-oldest {
  color: red;
  font-weight: bold;
}

.multimedia-old {
  color: red;
}

.multimedia-normal {
  color: black;
}

.multimedia-recent {
  color: blue;
}

.multimedia-today {
  color: blue;
  font-weight: bold;
}

/* Multimedia coloring based on media type */
.multimedia-movies {
  color: black;
}

.multimedia-tvseries {
  color: brown;
}

.multimedia-anime {
  color: #ca00e2;
}

.multimedia-book {
  color: green;
}

.multimedia-manga {
  color: blue;
}

/* Inputs specifics */
.multimedia-input-summary {
  vertical-align: text-top;
  width: 100%;
  min-height: 60px;
}

@media all and (min-width: 505px) {
  .multimedia-input-summary {
    width: 60%;
  }
}

.multimedia-listing {
  border-spacing: 0;
}

.multimedia-listing td {
  padding: 5px;
}

.multimedia-listing .multimedia-listing-row:nth-child(even) {
  background-color: #e6e6e6;
}

.multimedia-last-ep {
  color: rgb(111, 22, 22);
  font-weight: bold;
}
