/* Multimedia coloring based on age */
.multimedia-old {
  color: red;
}

.multimedia-normal {
  color: black;
}

.multimedia-recent {
  color: blue;
}

.multimedia-today {
  color: blue;
  font-weight: bold;
}

/* Multimedia coloring based on media type */
.multimedia-movies {
  color: violet;
}

.multimedia-tvseries {
  color: brown;
}

.multimedia-anime {
  color: orange;
}

.multimedia-book {
  color: green;
}

.multimedia-manga {
  color: blue;
}

/* Inputs specifics */
.multimedia-input-summary {
  vertical-align: top;
  width: 100%;
  height: 60px;
}

@media all and (min-width: 505px) {
  .multimedia-input-summary {
    width: 60%;
  }
}
