<form #newForm="ngForm" (ngSubmit)="newItem(newForm)">
  <button type="button" (click)="toggleShowItemForm()">
    {{ viewData.showCreateForm ? "Hide Form" : "New Item" }}
  </button>

  @if (viewData.showCreateForm) {
  <div>
    <div>
      @if (model.id) {
      <span class="field">
        <label for="id" class="label-left">Id</label>
        <span type="text" name="id" id="id" class="multimedia-input-id"
          >{{ model.id }}</span
        >
      </span>
      }
      <span class="field">
        <label for="fTitle" class="label-left">Title</label>
        <input
          type="text"
          name="fTitle"
          id="fTitle"
          class="field-input multimedia-input-title"
          ngModel
        />
      </span>
      <span class="field">
        <label for="fMediaType" class="label-left">Media Type</label>
        <select
          name="fMediaType"
          id="fMediaType"
          class="field-select"
          [(ngModel)]="model.fMediaType"
        >
          @for (opt of viewData.mediaTypeList; track opt) {
          <option
            [value]="opt.ctg_sequential"
            [selected]="opt.ctg_sequential === newForm.value.fMediaType"
          >
            {{ opt.ctg_name }}
          </option>
          }
        </select>
      </span>
      <span class="field">
        <label for="fSeason" class="label-left">Season</label>
        <input
          type="number"
          name="fSeason"
          id="fSeason"
          class="field-input multimedia-input-season"
          step="1"
          [(ngModel)]="model.fSeason"
        />
      </span>
      <span class="field">
        <label for="fYear" class="label-left">Year</label>
        <input
          type="number"
          name="fYear"
          id="fYear"
          class="field-input multimedia-input-year"
          step="1"
          [(ngModel)]="model.fYear"
        />
      </span>
      <span class="field">
        <label for="fCurrentEp" class="label-left">Current Episode</label>
        <input
          type="text"
          name="fCurrentEp"
          id="fCurrentEp"
          class="field-input multimedia-input-currentep"
          [(ngModel)]="model.fCurrentEp"
        />
      </span>
      <span class="field">
        <label for="fTotalEp" class="label-left">Total Episodes</label>
        <input
          type="text"
          name="fTotalEp"
          id="fTotalEp"
          class="field-input multimedia-input-totalep"
          ngModel
        />
      </span>
      <span class="field">
        <label for="fUrl" class="label-left">Url</label>
        <input
          type="text"
          name="fUrl"
          id="fUrl"
          class="field-input multimedia-input-url"
          ngModel
        />
      </span>
      <button type="submit">Save</button>
    </div>
  </div>
  }
</form>

<table class="multimedia-listing">
  <tr>
    <th class="padding-left-5 padding-right-5">#</th>
    <th class="padding-left-5 padding-right-5 width-100">
      Last Viewed / Title
    </th>
    <th class="padding-left-5 padding-right-5">Episode</th>
  </tr>
  @for (item of viewData.multimediaList; track item; let i = $index) {
  <tr class="multimedia-listing-row">
    <td
      class="padding-left-5 padding-right-5 text-align-right vertical-align-top"
    >
      {{ i + 1 }}
    </td>
    <td class="padding-left-5 padding-right-5 vertical-align-top">
      <span
        (click)="item.showOptions = !item.showOptions"
        tabindex="0"
        (keydown.enter)="item.showOptions = !item.showOptions"
      >
        {{ item.showOptions ? "-" : "+" }}
      </span>
      <span [ngClass]="item.ageClassname" class="desktop-only">
        {{ item.mma_date_mod | date: "yyyy-MM-dd" }}
      </span>
      <span [ngClass]="item.ageClassname" class="mobile-only">
        {{ item.mma_date_mod | date: "MM-dd" }}
      </span>
      <!--
                      <span class="multimedia-badge" *ngIf="item.mma_ctg_media_type === 1">MOVIE</span>
                      <span class="multimedia-badge" *ngIf="item.mma_ctg_media_type === 2">SERIES</span>
                      <span class="multimedia-badge" *ngIf="item.mma_ctg_media_type === 3">ANIME</span>
                      <span class="multimedia-badge" *ngIf="item.mma_ctg_media_type === 4">EBOOK</span>
                      <span class="multimedia-badge" *ngIf="item.mma_ctg_media_type === 5">MANGA</span>
                      -->
      <span
        [ngClass]="{
          'multimedia-movies': item.mma_ctg_media_type === 1,
          'multimedia-tvseries': item.mma_ctg_media_type === 2,
          'multimedia-anime': item.mma_ctg_media_type === 3,
          'multimedia-book': item.mma_ctg_media_type === 4,
          'multimedia-manga': item.mma_ctg_media_type === 5
        }"
      >
        {{ item.mma_title }}
      </span>
      @if (item.mma_url) {
      <span>
        <a [href]="item.mma_url" target="_blank">{{ "T" + item.mma_season }}</a>
      </span>
      } @if (!item.mma_url) {
      <span>{{ "T" + item.mma_season }}</span>
      }
      <span class="desktop-only">&nbsp;({{ item.mma_year }})</span>
      <br />
      @if (item.showOptions) {
      <span>
        @if (item.mma_ctg_status === 1) {
        <button type="button" (click)="showNewEpForm(item)">add episode</button>
        } @if (item.mma_ctg_status === 1) {
        <button type="button" (click)="showDetListing(item.mma_id)">
          list episodes
        </button>
        }
        <button type="button" (click)="setModelDetails(item.mma_id, newForm)">
          details
        </button>
      </span>
      }
    </td>
    <td
      class="padding-left-5 padding-right-5 text-align-right vertical-align-top"
    >
      @if (item.mma_total_ep !== '0') {
      <span
        [ngClass]="{
        'multimedia-last-ep': item.mma_current_ep === item.mma_total_ep
      }"
      >
        @if (item.mma_current_ep === item.mma_total_ep) {
        <span>***</span>
        } {{ item.mma_current_ep + "/" + item.mma_total_ep }}
      </span>
      } @if (item.mma_total_ep === '0') {
      <span> {{ item.mma_current_ep }} </span>
      }
    </td>
  </tr>
  }
</table>

<!--
              <table>
                <tr>
                  <th class="padding-left-5 padding-right-5 width-80">Episode Id</th>
                  <th class="padding-left-5 padding-right-5 width-100">Episode Title</th>

                  <th class="padding-left-5 padding-right-5">Date Viewed</th>
                  <th class="padding-left-5 padding-right-5">Rating</th>
                  <th class="padding-left-5 padding-right-5">Notes</th>
                </tr>
                <tr class="multimedia-listing-row" *ngFor="let item of viewData.multimediaList; let i = index">
                  <td class="padding-left-5 padding-right-5 text-align-right">{{i + 1}}</td>
                  <td class="padding-left-5 padding-right-5">{{item.mma_title + ' T' + item.mma_season}}</td>
                  <td class="padding-left-5 padding-right-5">{{item.mma_current_ep + '/' + item.mma_total_ep}}</td>
                  <td class="padding-left-5 padding-right-5">{{item.mma_date_mod | date: 'yyyy-MM-dd'}}</td>
                </tr>
              </table>
              -->

<form #newEpForm="ngForm" (ngSubmit)="newEpItem(newEpForm)">
  @if (viewData.showCreateEpForm) {
  <div>
    <button type="button" (click)="hideNewEpForm()">Hide Ep Form</button>
    <div>
      <span class="field">
        <label for="fTitle" class="label-left">Title</label>
        @if (epModel.mediaUrl) {
        <span class="multimedia-input-id">
          <a [href]="epModel.mediaUrl" target="_blank">{{ epModel.fTitle }}</a>
        </span>
        } @if (!epModel.mediaUrl) {
        <span class="multimedia-input-id">{{ epModel.fTitle }}</span>
        }
      </span>
      <span class="field">
        <label for="id" class="label-left">Id</label>
        <input
          type="text"
          name="fEpId"
          id="fEpId"
          class="field-input multimedia-input-id"
          [(ngModel)]="epModel.epId"
        />
      </span>
      <span class="field">
        <label for="fEpTitle" class="label-left">Episode Title</label>
        <input
          type="text"
          name="fEpTitle"
          id="fEpTitle"
          class="field-input multimedia-input-eptitle"
          [(ngModel)]="epModel.fEpTitle"
          (blur)="splitEpInfo(epModel.fEpTitle)"
        />
        @if (epModel.fEpTitle) {
        <span> {{ epModel.fEpTitle.length }} / 500 characters </span>
        }
      </span>
      <span class="field">
        <label for="fAltEpTitle" class="label-left">Alternative Title</label>
        <input
          type="text"
          name="fAltEpTitle"
          id="fAltEpTitle"
          class="field-input multimedia-input-alteptitle"
          [(ngModel)]="epModel.fAltEpTitle"
        />
        @if (epModel.fAltEpTitle) {
        <span> {{ epModel.fAltEpTitle.length }} / 500 characters </span>
        }
      </span>
      <span class="field">
        <label for="fYear" class="label-left">Year</label>
        <input
          type="number"
          name="fYear"
          id="fYear"
          class="field-input multimedia-input-year"
          step="1"
          [(ngModel)]="epModel.fYear"
        />
        @if (!epModel.fYear) {
        <span class="color-red padding-left-5">Year is required</span>
        }
      </span>
      <span class="field">
        <label for="fUrl" class="label-left">Url</label>
        <input
          type="text"
          name="fUrl"
          id="fUrl"
          class="field-input multimedia-input-url"
          [(ngModel)]="epModel.fUrl"
        />
      </span>
      <span class="field">
        <hr />
        <label for="fIsViewed" class="label-left">Viewed</label>
        <input
          type="checkbox"
          name="fIsViewed"
          id="fIsViewed"
          [(ngModel)]="epModel.isViewed"
        />
      </span>
      @if (epModel.isViewed) {
      <span>
        <span class="field">
          <label for="fSummary" class="label-left">Summary</label>
          <div class="grow-wrap">
            <textarea
              name="fSummary"
              id="fSummary"
              class="multimedia-input-summary"
              [(ngModel)]="epModel.fSummary"
            ></textarea>
          </div>
          @if (epModel.fSummary) {
          <span> {{ epModel.fSummary.length }} / 4000 characters </span>
          }
        </span>
        <span class="field">
          <label for="fDateViewed" class="label-left">Date Viewed</label>
          <input
            type="radio"
            name="fDateViewedType"
            id="fDateViewedTypeCurrent"
            [(ngModel)]="epModel._DateViewedType"
            value="current"
          />
          <label for="fDateViewedTypeCurrent">Current Timestamp</label>
          <input
            type="radio"
            name="fDateViewedType"
            id="fDateViewedTypeCustom"
            [(ngModel)]="epModel._DateViewedType"
            value="custom"
          />
          <label for="fDateViewedTypeCustom">Custom</label>
          @if (epModel._DateViewedType !== 'current') {
          <input
            type="date"
            name="fDateViewed"
            [(ngModel)]="epModel.fDateViewed"
          />
          } @if (epModel._DateViewedType !== 'current') {
          <input
            type="time"
            name="fTimeViewed"
            [(ngModel)]="epModel.fTimeViewed"
          />
          }
          <button
            (click)="setDateViewedInModel(viewData.latestViewedDate, $event)"
            id="btnSetDateViewedInModel"
          >
            {{ viewData.latestViewedDate | date: "yyyy-MM-dd" }}
          </button>
        </span>
        <span class="field">
          <label for="fRating" class="label-left">Rating</label>
          <input
            type="number"
            name="fRating"
            id="fRating"
            class="field-input multimedia-input-rating"
            step="1"
            [(ngModel)]="epModel.fRating"
          />
          @if (!epModel.fRating) {
          <span class="color-red padding-left-5">Rating is required</span>
          }
        </span>
        <span class="field">
          <label for="fPlatform" class="label-left">Platform</label>
          <select
            name="fPlatform"
            id="fPlatform"
            class="field-select"
            [(ngModel)]="epModel.fPlatform"
          >
            @for (opt of viewData.platformList; track opt) {
            <option
              [value]="opt.ctg_sequential"
              [selected]="opt.ctg_sequential === newEpForm.value.fPlatform"
            >
              {{ opt.ctg_name }}
            </option>
            }
          </select>
        </span>
        <span class="field">
          <label for="fNotes" class="label-left">Notes</label>
          <input
            type="text"
            name="fNotes"
            id="fNotes"
            class="field-input multimedia-input-notes"
            [(ngModel)]="epModel.fNotes"
            (keydown)="submitOnEnter($event, newEpForm)"
          />
          @if (epModel.fNotes) {
          <span> {{ epModel.fNotes.length }} / 500 characters </span>
          }
          <button type="button" (click)="dictate()">Dictate</button>
        </span>
        @if (newEpForm.value.fEpId !== epModel.fNextEpId) {
        <span class="field">
          <hr />
          <label for="fNextEpId" class="label-left">Next Episode Id</label>
          <input
            type="text"
            name="fNextEpId"
            id="fNextEpId"
            class="field-input multimedia-input-nextepid"
            [(ngModel)]="epModel.fNextEpId"
          />
        </span>
        } @if (newEpForm.value.fEpId !== epModel.fNextEpId) {
        <span class="field">
          <label for="fNextEpTitle" class="label-left"
            >Next Episode Title</label
          >
          <input
            type="text"
            name="fNextEpTitle"
            id="fNextEpTitle"
            class="field-input multimedia-input-nexteptitle"
            [(ngModel)]="epModel.fNextEpTitle"
          />
        </span>
        } @if (newEpForm.value.fEpId !== epModel.fNextEpId) {
        <span class="field">
          <br />
          <label for="fNextEpUrl" class="label-left">Next Episode Url</label>
          <input
            type="text"
            name="fNextEpUrl"
            id="fNextEpUrl"
            class="field-input multimedia-input-nextepurl"
            [(ngModel)]="epModel.fNextEpUrl"
          />
        </span>
        } @if (newEpForm.value.fEpId === epModel.fNextEpId) {
        <span class="field"> This is the last episode :-D </span>
        }
      </span>
      }
      <button type="submit" [disabled]="!epModel.fYear || !epModel.fRating">
        Save
      </button>
    </div>
  </div>
  }
</form>

@if (viewData.showDetList) {
<button (click)="showDetListing()">Remove filter</button>
} @if (viewData.showDetList) {
<span>Listing for media: {{ viewData.detListTitle }}</span>
} @if (viewData.multimediaDetListWithGroups) {
<div>
  <div class="multimedia-listing-section">Title | Ep Title | Year - link</div>
  @for (group of viewData.multimediaDetListWithGroups; track group) {
  <div class="multimedia-listing-row">
    <br />
    <span class="padding-left-5 padding-right-5 width-80">
      {{ group.date | date: "yyyy-MM-dd" }} | {{ group.items.length }} viewed
    </span>
    <br />
    @for (item of group.items; track item) {
    <div class="multimedia-listing-row">
      <span class="padding-left-5 padding-right-5">
        <span>
          - {{ !viewData.showDetList && item.mmd_txt_title ? item.mmd_txt_title
          + " | " + item.mmd_id_ep + " - " + item.mmd_ep_title : item.mmd_id_ep
          + " - " + item.mmd_ep_title }}
        </span>
        @if (item.mmd_year) {
        <span>
          @if (item.mmd_url) {
          <a [href]="item.mmd_url" target="_blank"> [{{ item.mmd_year }}] </a>
          } @if (!item.mmd_url) {
          <span>[{{ item.mmd_year }}]</span>
          }
          <span>
            | {{ item["viewedInfo"].mmv_date_viewed | date: "HH:mm:ss" }}
          </span>
          <span> | {{ item["viewedInfo"].mmv_num_rating }}&#9733;</span>
        </span>
        }
      </span>
    </div>
    }
  </div>
  }
</div>
}
